.SkillContent {
	width: 100%;
	position: relative;
}

.SkillsCard {
	width: 45%;
	margin: auto;
	position: relative;
}

.SkillsCard:nth-child(odd) {
	border-left: 4px solid black;
	padding-left: 5%;
	transform: translateX(49.6%);
}

.SkillsCard:nth-child(even) {
	border-right: 4px solid black;
	padding-right: 5%;
	transform: translateX(-49.6%);
}

.SkillsCard:nth-child(odd)::before,
.SkillsCard:nth-child(even)::before {
	content: '';
	background: #000000;
	width: 11%;
	height: 3px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.SkillsCard:nth-child(odd)::before {
	left: 0;
}

.SkillsCard:nth-child(even)::before {
	right: 0;
}

.Skills .SkillBox {
	padding: 30px;
	cursor: pointer;
	color: #000;
	background: linear-gradient(145deg, #e2e8ec, #ffffff);
	box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
}

.Skills .SkillBox:hover {
	background: #ff014f;
	color: white;
}

.SkillsCard:nth-child(odd) .SkillBox::before,
.SkillsCard:nth-child(even) .SkillBox::before {
	content: '';
	background-color: #000000;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.SkillsCard:nth-child(odd) .SkillBox::before {
	left: -17px;
}

.SkillsCard:nth-child(even) .SkillBox::before {
	right: -17px;
}

.SkillsCard:nth-child(1) .SkillBox::before {
	background-image: url('../../assets/photos/html_5.png');
}

.SkillsCard:nth-child(2) .SkillBox::before {
	background-image: url('../../assets/photos/css_3.png');
}

.SkillsCard:nth-child(3) .SkillBox::before {
	background-image: url('../../assets/photos/javascript.png');
}

.SkillsCard:nth-child(4) .SkillBox::before {
	background-image: url('../../assets/photos/react.png');
} 

.Skills hr {
	margin: 15px 0 15px 0;
	border: 1px solid #000000;
	background-color: #000000;
}

.Skills .SkillBox:hover hr {
	border: 1px solid #e3e9ed;
	background-color: #e3e9ed;
}

.Skills .SkillBox h2,
.Skills .year,
.Skills .skill_number {
	font-size: 1.9rem;
	font-weight: bold;
}

.Skills .skill_bar {
	position: relative;
	width: 100%;
	margin-top: 10px;
	height: 10px;
	background-color: yellow;
	border-radius: 10px;
}

.Skills .SkillBox:hover .skill_bar {
	background-color: #ffffff;
}

.Skills .skill_percentage {
	position: absolute;
	height: 10px;
	background-color: #ff014f;
	border-radius: 10px;
}

.Skills .SkillBox:hover .skill_percentage {
	background-color: #000000;
}

@media (300px <=width <=600px) {

	.SkillsCard {
		width: 100%;
	}

	.SkillsCard:nth-child(odd) {
		border-left: none;
		padding-left: 0;
		transform: none;
		margin-top: 40px;
	}

	.SkillsCard:nth-child(even) {
		border-right: none;
		padding-right: 0;
		transform: none;
		margin-top: 40px;
	}

	.SkillsCard:nth-child(odd)::before,
	.SkillsCard:nth-child(even)::before {
		width: 3px;
		height: 40px;
		top: -40px;
		left: 50%;
		transform: translateX(-50%);
	}

	.SkillsCard:nth-child(odd) .SkillBox::before,
	.SkillsCard:nth-child(even) .SkillBox::before {
		width: 20px;
		height: 20px;
		top: -10px;
		left: 50%;
		transform: translateX(-50%);
	}

}