@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  overflow-x: hidden;
}

.container {
  width: 100%;
  padding: 0 3%;
  padding-top: 13vh;
}


.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.uppercase {
  text-transform: uppercase;
}

button {
  border: none;
  outline: none;
  background-color: none;
}

.btn {
  padding: 15px 20px;
  border-radius: 6px;
  transition: 0.3s all ease;
  cursor: pointer;
  height: fit-content;
  color: #ff014f;
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 4px 4px 8px #b7b7b7, -4px -4px 8px #b7b7b7;
}

.btn:hover {
  background: #ff014f;
  color: white;
}




@media (600px <=width <=768px) {
  html {
    font-size: 55%;
  }
}


@media (300px <=width <=600px) {
  html {
    font-size: 45%;
  }


  .container {
    padding-top: 13vh;
  }

  .btn {
    padding: 10px 15px;
    border-radius: 3px;
  }

}